# =========================
# Maven
# =========================
/target/

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/
*.iws

# =========================
# Mac OS
# =========================
.DS_Store

# =========================
# Logs
# =========================
*.log

# =========================
# Test Output
# =========================
test-output/
reports/